@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Roboto+Flex');

:root{
    --heading-font: "Gravitas One";
    --paragraph-font: "Roboto flex", Helvetica, sans-serif;
}
    
body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F0;
    text-align: center;
}

header {
    background-color: #5A6232;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

.logo img {
    width: 150px;
    height: auto;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 3.5em;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.about {
    background-color: #F5F5F0;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
}

h2 {
    font-size: 1.8em;
}

.about p {
    font-size: 1.2em;
    line-height: 1.5;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.figure-drawings,
.graphic-design {
    text-align: center;
    width: 40%;
}

.gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
}

/* Gallery Style for Graphic Design Sub Page */
.gallery-graphic-design-wrapper {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
}

.graphic-design-heading {
    margin-bottom: 20px;
    font-size: 2.5em; 
}

.gallery-graphic-design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: fit-content;
    margin: 0 auto; 
    justify-items: center; 
}

.gallery-graphic-design img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 5px solid black;
    border-radius: 5px;
}
/* End of Gallery Style for Graphic Design Sub Page*/



footer {
    background-color: #5A6232;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
